
body {
    height: 100%;
    size: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: hsl(229, 57%, 11%);
    background-image: url("./images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 100%, 50%;
    color: hsl(243, 100%, 93%);
}


.card-container{
    margin-top: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-card{
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 100px 10px 10px;
    width: 350px;
    height: 200px;
}

.logo{
    margin-top: 40px;
      margin-left: 40px;
  }
  
  .button-icons{
      margin-top: 30px;
      margin-left: 40px;
      display: flex;
      
  }
  button {
      margin-right: 15px;
      height: 50px;
      width: 50px;
      border-radius: 10px;
      border: none;
      background-color: hsl(229, 57%, 11%);
  }

.right-card{
    background-color: hsl(228, 56%, 26%);
    border-radius: 15px 15px;
    width: 540px;
    height: 150px;
    margin-left: 30px;
}

.remainder-bubble {
    display: flex;
    width: 180px;
    height: 70px;
    position: relative;
    margin-top: -45px;
    margin-left: 360px;
    background: #ffffff;
    border-radius: 8px 8px 0 8px;
    align-items: center;
    justify-content: center;
}
  
.remainder-bubble::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    border-top: 8px solid #ffffff;
    border-right: 8px solid #ffffff;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  .remainder-text{
    display: flex;
    align-items: center;
  }

  .remainder-value{
    color: #000;
    font-weight: 700;
    font-size: 35px;
    margin-right: 10px;
  }

  .remainder-unit{
    color: hsl(229, 7%, 55%);
    font-size: 12px;
  }
  
  .used-gb{
      margin-top: 10px;
      margin-left: 40px;
  }

  .gb-meter{
    margin-top: 20px;
    margin-left: 40px;
    width: 450px;
    height: 16px;
    border-radius: 100px;
    background: hsl(229, 57%, 11%);
    position: relative;
  }

  .gb-bar{
    margin-top: 10px;
    width: 340px;
    height: 15px;
    border-radius: 100px;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));;
  }

  .gb-bar::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background: #fff;
    position: absolute;
    top: 1px;
    right: 110px;
}

.meter-range{
    display: flex;
    margin-top: 10px;
}

.meter-min{
    margin-left: 40px;
    margin-right: 100px
}

.meter-max{
    margin-left: 260px;
}